absl-py==1.0.0
alabaster==0.7.12
asttokens @ file:///opt/conda/conda-bld/asttokens_1646925590279/work
astunparse==1.6.3
attrs @ file:///opt/conda/conda-bld/attrs_1642510447205/work
Babel==2.10.1
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
black==22.3.0
bleach @ file:///opt/conda/conda-bld/bleach_1641577558959/work
blis==0.7.8
boto3==1.24.51
botocore==1.27.51
cachetools==4.2.4
catalogue==2.0.8
certifi==2021.10.8
cffi==1.15.0
cfgv @ file:///home/longx/.cache/pypoetry/artifacts/07/9a/ee/962c2dab45907e4fd1a13afc30753a15fe678f1dcf2c862a9794ed748b/cfgv-3.3.1-py2.py3-none-any.whl
charset-normalizer @ file:///home/longx/.cache/pypoetry/artifacts/29/08/0b/18a5b01605aa22aab30518fc8cb6c0777890b2b9b842f7a691b70ec4a7/charset_normalizer-2.0.10-py3-none-any.whl
click @ file:///home/longx/.cache/pypoetry/artifacts/3c/f6/a3/2262df8f5a6f3de5bbc78cc13803c60524c8384dce76661fdfe3df975f/click-8.0.3-py3-none-any.whl
cloudpickle==2.1.0
configparser @ file:///home/longx/.cache/pypoetry/artifacts/c1/c0/48/adbced78b55591e4d996aac43661ef860fc6507d809feb9419cca009d9/configparser-5.2.0-py3-none-any.whl
cycler==0.11.0
cymem==2.0.6
Cython==0.29.28
cytoolz==0.12.0
-e git+https://github.com/rail-berkeley/d4rl.git@d842aa194b416e564e54b0730d9f934e3e32f854#egg=d4rl
de-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/de_core_news_sm-3.4.0/de_core_news_sm-3.4.0-py3-none-any.whl
debugpy @ file:///tmp/build/80754af9/debugpy_1637091796427/work
decorator==5.1.1
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
distlib @ file:///home/longx/.cache/pypoetry/artifacts/28/55/60/69ffc8f0f48eec7333f0f14052e0fc163c1b00e3db68ddd527f159db59/distlib-0.3.4-py2.py3-none-any.whl
dm-control @ git+https://github.com/deepmind/dm_control@f69785aeafaf891601236e2a0ec0c6e38756604f
dm-env==1.5
dm-tree==0.1.7
docker-pycreds==0.4.0
docutils==0.17.1
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.0/en_core_web_sm-3.4.0-py3-none-any.whl
entrypoints @ file:///tmp/build/80754af9/entrypoints_1649926445639/work
executing @ file:///opt/conda/conda-bld/executing_1646925071911/work
fasteners==0.17.3
fastjsonschema @ file:///tmp/build/80754af9/python-fastjsonschema_1620414857593/work/dist
filelock @ file:///home/longx/.cache/pypoetry/artifacts/63/65/3d/4de2ab8d21070a38e74a107020faab14f6c9abccf2527e25c2692aef9c/filelock-3.4.2-py3-none-any.whl
flake8==4.0.1
fonttools @ file:///home/longx/.cache/pypoetry/artifacts/63/34/b9/1fa0886e3ae9f187ad2155a0aab08d1e769240cc90e8f5873c2d08f346/fonttools-4.28.5-py3-none-any.whl
gast==0.3.3
gitdb==4.0.9
GitPython @ file:///home/longx/.cache/pypoetry/artifacts/ba/97/94/6b77456d83187ec90d0644026750a009b4868207db3c52d861e77a7733/GitPython-3.1.26-py3-none-any.whl
glfw==2.5.3
google-auth==1.35.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
GPUtil==1.4.0
grpcio==1.47.0
gym==0.23.1
gym-notices==0.0.6
gym-robotics==0.1.0
h5py==2.10.0
huggingface-hub==0.8.1
identify @ file:///home/longx/.cache/pypoetry/artifacts/73/de/f5/2861f31a70b589fb2ffe6c47dbb89e2185aff0fda7cb35b4f97c2bd802/identify-2.4.4-py2.py3-none-any.whl
idna==3.3
ImageHash==4.2.1
imageio==2.18.0
imageio-ffmpeg==0.4.7
imagesize==1.3.0
importlib-metadata==4.12.0
importlib-resources==5.7.1
iniconfig==1.1.1
ipdb==0.13.9
ipykernel @ file:///tmp/build/80754af9/ipykernel_1646982648551/work/dist/ipykernel-6.9.1-py3-none-any.whl
ipython @ file:///tmp/build/80754af9/ipython_1648799197050/work
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
jedi @ file:///tmp/build/80754af9/jedi_1644315233700/work
jellyfish==0.9.0
Jinja2 @ file:///opt/conda/conda-bld/jinja2_1647436528585/work
jmespath==1.0.1
joblib==1.1.0
jsonschema @ file:///tmp/build/80754af9/jsonschema_1650025949224/work
jupyter-client @ file:///opt/conda/conda-bld/jupyter_client_1650622202839/work
jupyter-core @ file:///tmp/build/80754af9/jupyter_core_1646994441805/work
Keras-Preprocessing==1.1.2
kiwisolver @ file:///home/longx/.cache/pypoetry/artifacts/5e/39/d3/42b58ddbc3b866de6de580dbb0175cfc415c16b0b038b2dd0551598152/kiwisolver-1.3.2-cp38-cp38-manylinux_2_5_x86_64.manylinux1_x86_64.whl
labmaze==1.0.5
langcodes==3.3.0
lockfile==0.12.2
lxml==4.9.1
Markdown==3.3.7
MarkupSafe==2.1.1
matplotlib==3.5.1
matplotlib-inline==0.1.3
mccabe==0.6.1
mistune==0.8.4
mjrl @ git+https://github.com/aravindr93/mjrl@3871d93763d3b49c4741e6daeaebbc605fe140dc
mkl-fft==1.3.1
mkl-random @ file:///tmp/build/80754af9/mkl_random_1626186064646/work
mkl-service==2.4.0
mujoco==2.2.1
mujoco-py==2.1.2.14
murmurhash==1.0.7
mypy-extensions==0.4.3
nb-conda==2.2.1
nb-conda-kernels @ file:///tmp/build/80754af9/nb_conda_kernels_1606775941989/work
nbconvert==5.5.0
nbformat @ file:///tmp/build/80754af9/nbformat_1649827057626/work
nest-asyncio @ file:///tmp/build/80754af9/nest-asyncio_1649847908682/work
networkx==2.8.5
neuralcoref==4.0
nodeenv @ file:///home/longx/.cache/pypoetry/artifacts/e5/a3/dc/92bd4b7147e57c05532acb667e9e885a9b9a2425965963dbb0f451a30b/nodeenv-1.6.0-py2.py3-none-any.whl
notebook @ file:///tmp/build/80754af9/notebook_1595951624445/work
numpy==1.22.3
numpydoc==1.2.1
oauthlib==3.2.0
opencv-python @ file:///home/longx/.cache/pypoetry/artifacts/a0/20/1b/fcfb429d930a1203716ed9740d2746464f41965a34cf3fb66cc579fc0e/opencv_python-4.5.5.62-cp36-abi3-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
opt-einsum==3.3.0
packaging @ file:///tmp/build/80754af9/packaging_1637314298585/work
pandas==1.4.2
pandocfilters @ file:///opt/conda/conda-bld/pandocfilters_1643405455980/work
parso @ file:///opt/conda/conda-bld/parso_1641458642106/work
pathspec==0.9.0
pathtools==0.1.2
pathy==0.6.2
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow==9.0.1
platformdirs @ file:///home/longx/.cache/pypoetry/artifacts/08/a7/15/b27e383c86ffaa138057904f0b4c9a8a6a8468ec0ee789e8137740d968/platformdirs-2.4.1-py3-none-any.whl
pluggy==1.0.0
pre-commit @ file:///home/longx/.cache/pypoetry/artifacts/c9/47/ff/c8133d3b1e0e5421cb1af942566eca1895a10d59a53d843d2d1c6bf9f9/pre_commit-2.17.0-py2.py3-none-any.whl
preshed==3.0.6
prometheus-client @ file:///opt/conda/conda-bld/prometheus_client_1643788673601/work
promise==2.3
prompt-toolkit==3.0.29
protobuf==3.20.1
psutil==5.9.0
ptflops==0.6.9
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///opt/conda/conda-bld/pure_eval_1646925070566/work
py-cpuinfo==8.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybullet @ file:///home/longx/.cache/pypoetry/artifacts/e8/5d/58/092b5d6849ad7fbf07787c8f6cdd4448bb39116f4d3a7a1100235e43b3/pybullet-3.1.8-cp38-cp38-manylinux1_x86_64.whl
pycodestyle==2.8.0
pycparser==2.21
pydantic==1.9.1
pyflakes==2.4.0
pygame==2.1.0
pyglet @ file:///home/longx/.cache/pypoetry/artifacts/87/21/fa/2db51331909a1571b256fbbd52a495ea57b6558d5eba551927f077bd0e/pyglet-1.5.21-py3-none-any.whl
Pygments==2.12.0
PyOpenGL==3.1.6
pyparsing==2.4.7
pyphen==0.12.0
pyrsistent @ file:///tmp/build/80754af9/pyrsistent_1636110947380/work
pytest==7.1.2
pytest-instafail==0.3.0
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
pytz==2022.1
PyWavelets==1.3.0
PyYAML==6.0
pyzmq @ file:///tmp/build/80754af9/pyzmq_1638436375034/work
regex==2022.7.25
requests==2.27.1
requests-oauthlib==1.3.1
rsa==4.8
s3transfer==0.6.0
scikit-learn==1.1.2
scipy==1.4.1
Send2Trash @ file:///tmp/build/80754af9/send2trash_1632406701022/work
sentencepiece==0.1.97
sentry-sdk @ file:///home/longx/.cache/pypoetry/artifacts/d5/a0/aa/26e3cf9a1dccd588fb868d2cb3f3ff149b6a82ca9875a333b080ebc49e/sentry_sdk-1.5.3-py2.py3-none-any.whl
setproctitle==1.2.3
setuptools-scm @ file:///home/longx/.cache/pypoetry/artifacts/e6/44/32/64b792477e12ac4db04f7195b7a5e9b011013d630ced2cc609ef1bbb27/setuptools_scm-6.4.2-py3-none-any.whl
shortuuid @ file:///home/longx/.cache/pypoetry/artifacts/d7/e4/6e/4d609f6ed429fdf14b8fd01aeaf0feea3de91ab3d95d37b31ae44ee134/shortuuid-1.0.8-py3-none-any.whl
six==1.16.0
smart-open==5.2.1
smmap==5.0.0
snowballstemmer==2.2.0
spacy==3.4.1
spacy-legacy==3.0.9
spacy-loggers==1.0.3
Sphinx==4.5.0
sphinx-rtd-theme==1.0.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
srsly==2.4.4
stable-baselines3 @ file:///home/longx/.cache/pypoetry/artifacts/ef/ec/8c/a03c2b3fe3505e921cee9b3be83132f500e0293f77c112e14e9274fb0c/stable_baselines3-1.2.0-py3-none-any.whl
stack-data @ file:///opt/conda/conda-bld/stack_data_1646927590127/work
subprocess32 @ file:///home/longx/.cache/pypoetry/artifacts/ba/61/77/20064e3312c309728c4824cb725c398e0044f1e1afaa2be5482ea8e0fe/subprocess32-3.5.4.tar.gz
tensorboard==2.2.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow-estimator==2.2.0
tensorflow-gpu==2.2.0
tensorflow-probability==0.17.0
termcolor==1.1.0
terminado @ file:///tmp/build/80754af9/terminado_1644322581811/work
testpath @ file:///tmp/build/80754af9/testpath_1624638946665/work
textacy==0.12.0
thinc==8.1.0
threadpoolctl==3.1.0
tokenizers==0.12.1
toml==0.10.2
tomli @ file:///home/longx/.cache/pypoetry/artifacts/38/41/fa/c09cd1998f0cdff74a8fca97bb38366ae7e43f5e38e5939a4871eecc84/tomli-1.2.3-py3-none-any.whl
toolz==0.12.0
torch==1.12.1
torch-tb-profiler==0.4.0
torchaudio==0.7.0a0+a853dff
torchtext==0.6.0
torchvision==0.8.2
tornado @ file:///tmp/build/80754af9/tornado_1606942300299/work
tqdm==4.64.0
traitlets @ file:///tmp/build/80754af9/traitlets_1636710298902/work
transformers @ git+https://github.com/huggingface/transformers@9129fd0377e4d46cb2d0ea28dc1eb91a15f65b77
typer==0.4.2
typing_extensions @ file:///home/longx/.cache/pypoetry/artifacts/da/25/4f/38edfb1c3dd33665d6fc2c563dfb5debfcd3204ffc6943c80f09f8d54b/typing_extensions-4.0.1-py3-none-any.whl
urllib3==1.26.10
virtualenv @ file:///home/longx/.cache/pypoetry/artifacts/a2/78/e1/b7626643c7950b7a8b72c63157f465dde57768c740c8be6c5b045d98da/virtualenv-20.13.0-py2.py3-none-any.whl
wandb @ file:///home/longx/.cache/pypoetry/artifacts/fa/15/b3/08f9b12c916bf8ab6ff3f0b2362ba61c37b2f5dab846a66feb46801551/wandb-0.12.1-py2.py3-none-any.whl
wasabi==0.10.1
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
webencodings==0.5.1
Werkzeug==2.1.2
wrapt==1.14.1
zipp==3.8.0
